---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "./_home/HeroSection.astro";
import MissionSection from "./_home/MissionSection.astro";
import AccomplishmentsSection from "./_home/AccomplishmentsSection.astro";
import SponsorCarousel from "./_home/SponsorCarousel.astro";
import PublicationsPreview from "./_home/PublicationsPreview.astro";
import JoinSection from "./_home/JoinSection.astro";
---

<Base>
  <Nav transparent />
  <main>
    <HeroSection />
    <MissionSection />
    <SponsorCarousel />
    <AccomplishmentsSection />
    <PublicationsPreview />
    <JoinSection />
  </main>
  <Footer />
</Base>
